<%= turbo_frame_tag "waitlist" do %>
  <div class="lp-waitlist-success">
    <div class="lp-waitlist-success-icon" aria-hidden="true">✓</div>
    <p class="lp-waitlist-success-headline">You're on the list.</p>
    <p class="lp-waitlist-success-sub">We'll be in touch when your spot opens up.</p>
  </div>
<% end %>
