<h1>Welcome to Toaster</h1>
<p>Let's get your account set up. You'll add a venue and connect your inbox.</p>
<%= link_to "Get started", onboarding_venue_path %>
<%= link_to "Skip setup", onboarding_skip_path, data: {turbo_method: :post} %>
